.head{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 26px;
  background-color: #191825;
  padding-top: 16px;
 color: #fff;
}

body{
margin: 0;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.search-box{
  height: 40px;
}

.product-list{
  display: flex;
  flex-direction: row;
  
}
.btn-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-container{
  display: flex;
  
}
.flexr{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

